<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
    
    <header class="main-header">
   
        <nav class="header-top">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="" width="150px"></a>
            <form action="" class="search">
                <input type="text" class="buscador" placeholder="Buscar productos, marcas y más "><i class="fas fa-search"></i>
            </form>
            <p class="titulo-principal"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </nav>
            <nav class="list">
            <ul class>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul class>
                <li><a href="/register">Crea tu cuenta </a><i class="far fa-id-card"></i></li>
                <li><a href="/login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>

    <img src="/images/img-home-banner.jpg" alt="" width=100%wv>

    <main class="main-body">     
        <h2 class="titulares">Basado en tu última visita</h2>           
        <section class="section1">
            
            <article class="article">
                <img src="images/img-cafetera-moulinex.jpg" alt="">               
                <div class="caja">
                    <i class="fas fa-truck"></i>         
                    <p>$6.770</p>
                    <h4>40% OFF</h4>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>
            <article class="article">
                <img src="images/img-macbook-pro-2019.jpg" alt="">
                <div class="caja">
                    <i class="fas fa-truck"></i>
                    <p>$230.000</p>
                    <h4>20% off</h4>
                    <h3>MacBook Pro 2019</h3>
                </div>
            </article>
            <article class="article">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="" >
                <div class="caja">
                    <i class="fas fa-truck"></i>
                    <p>$70.500</p>
                    <h4>10% off</h4>
                    <h3>Samsung Galaxy S10</h3>
                </div>
            </article>
            <article class="article">
                <img src="images/img-tv-samsung-smart.jpg" alt="">
                <div class="caja">
                    <i class="fas fa-truck"></i>
                    <p>$23.200</p>
                    <h4>5% off</h4>
                    <h3>SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>

        <h2 class="titulares">Sección de Ofertas</h2>
        <section class="section2">
            
            <article class="article">
                <img src="images/img-cafetera-moulinex.jpg" alt="">
                <div class="caja">
                    <i class="fas fa-truck"></i>
                    <p>$6.770</p>
                    <h4>40% OFF</h4>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>

            <article class="article">
                <img src="images/img-macbook-pro-2019.jpg" alt="">
                <div class="caja">
                    <i class="fas fa-truck"></i>
                    <p>$230.000</p>
                    <h4>20% off</h4>
                    <h3>MacBook Pro 2019</h3>
                </div>
            </article>

            <article class="article">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="caja">
                    <i class="fas fa-truck"></i>
                    <p>$70.500</p>
                    <h4>10% off</h4>
                    <h3>Samsung Galaxy S10</h3>
                </div>
            </article>
                
            <article class="article">
                <img src="images/img-tv-samsung-smart.jpg" alt="">
                <div class="caja">
                    <i class="fas fa-truck"></i>
                    <p>$23.200</p>
                    <h4>5% off</h4>
                    <h3>SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
    </main>

    <footer class="foot">
        <div class="caja-foot">
            <section >
                <div class="card"><i class="fas fa-credit-card"></i></div>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <div class="gift"><i class="fas fa-gift"></i></div>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <section>
                <div class="security"><i class="fas fa-user-shield"></i></div>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </section>        
        </div>
            <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.<p>
    </footer>
</body>

</html>

